.Project__container {
  margin: 0 auto;
  display: grid;
  justify-content: center;
  width: max-content;
  /* OVERRIDE: Material UI */
  box-shadow: 0 0 3px black !important;
}

.MuiAccordionDetails-root {
  /* OVERRIDE: Material UI - remove padding so cards can occupy whole space */
  padding: 0 0 20px 0 !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.297);
}

.Project__vid-player {
  /* OVERRIDE: ReactPlayer */
  width: 60vw !important;
  /* desktop breakpoint */
  min-width: 500px;
  max-width: 55vw;
  margin-bottom: 10px;
}

.Project__description {
  width: min-content;
  min-width: 300px;

  /* OVERRIDE: Material UI */
  margin: 0 auto !important;
  font-size: 18px !important;
  font-style: italic;
}

/* tech grid single item*/
.Project__tech-item {
  font-weight: 550;
  border: 1px solid rgba(0, 0, 0, 0.235) !important;
  margin: 2px 5px;
  /* OVERRIDE: Material UI */
  height: 40px !important;
  /* OVERRIDE: Material UI - add space to the right of each tech item */
  padding-right: 5px !important;
}

/* BEGIN: Chip styles and TechIcon.tsx overrides */
/* hide tech icon logo */
.Project__tech-item-icon > * span {
  display: none;
}
/* circle each icon and position to fit in chip */
.Project__tech-item-icon > * img {
  position: relative;
  top: 0;
  height: 25px;
  width: 25px;
  padding: 2px;
  /* OVERRIDE: TechIcon.tsx if "React", opacity 0 bg */
  background: white !important;
  border-radius: 50%;
}
/* END: Chip styles and TechIcon.tsx overrides */

.Project__tech-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  min-width: 300px;
  max-width: 50vw;
}

/* Footer section with links */
.Project__links-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  height: 20px;
}

.Project__visit-site-link,
.Project__github-link {
  /* bg */
  padding: 5px 15px;
  background: var(--secondary-color);
  border-radius: 5px;
  box-shadow: 0 0 3px black;
  margin: 5px;

  /* text */
  text-decoration: none;
  color: rgba(0, 0, 0, 0.726);
  font-weight: 450;

  transition: all 0.4s;
}

.Project__visit-site-link:hover,
.Project__github-link:hover {
  color: white;
  background: var(--secondary-color2);
}

/* inherit .Project__links-container, pass down to img below */
.Project__github-link {
  height: inherit;

  /* center inner text */
  display: flex;
  align-items: center;
}
.Project__github-link > img {
  height: inherit;
  width: auto;
  margin-right: 5px;
}

@media only screen and (max-width: 945px) {
  .Project__container {
    /* OVERRIDE: Material UI */
    box-shadow: none !important;
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 600px) {
  .Project__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .MuiAccordionDetails-root {
    /* OVERRIDE: Material UI - remove padding so cards can occupy whole space */
    padding: 0 !important;
  }

  .Project__vid-player {
    /* OVERRIDE: Material UI */
    height: 200px !important;
    min-width: 310px !important;
    display: inline-block;
    margin: 0;
  }
}
