.Project__container {
  margin: 0 auto;
  display: grid;
  justify-content: center;
  width: min-content;
  /* OVERRIDE: Material UI */
  background: var(--grays) !important;
}

.Project__vid-player {
  /* OVERRIDE: ReactPlayer */
  min-width: 300px !important;
}
