.Project__container {
  margin: 0 auto;
  display: grid;
  justify-content: center;
  width: 100%;
  /* OVERRIDE: Material UI */
  background: var(--grays) !important;
}

.Project__vid-player {
  /* OVERRIDE: ReactPlayer */
  width: 40vw !important;
}
