.ExternalLinks__container {
  display: flex;
  flex-direction: row;
  width: max-content;
  margin: 0 auto;
  margin-bottom: 30px;
}

.ExternalLinks__container > a > img {
  height: 40px;
  margin: 10px 8px;
}
