.ExternalLinks__container {
  display: flex;
  flex-direction: row;
  width: max-content;
  margin: 0 auto;
}

.ExternalLinks__container > a {
  transition: all 0.4s;
}

.ExternalLinks__container > a:hover {
  background: white;
}

.ExternalLinks__container > a > img {
  height: 40px;
  margin: 10px 8px;
}
