.ExternalLinks__container {
  display: flex;
  flex-direction: row;
  width: max-content;
  margin: 10px auto 30px auto;
}

.ExternalLinks__container > a > img {
  height: 40px;
  margin: 10px 8px;
}
