.ProjectsView__wrapper {
  margin: 30px 0;
  position: relative;
  justify-content: center;

  /* when project is selected, split section into 2 columns */
  display: flex;
}

.ProjectsView__info-alert {
  max-width: 300px;
  margin: 0 auto 20px auto;
  /* OVERRIDE: Material UI */
  text-align: left !important;
}

@media only screen and (max-width: 600px) {
  /* 2 columns -> 1 column */
  .ProjectsView__wrapper {
    flex-direction: column;
  }

  /* add wrapper */
  .ProjectsView__info-alert {
    width: 80vw;
    /* move info alert UP from "Personal Projects" header, and closer to "My Projects" main header */
    margin: -18px auto 20px auto;
  }
}
