.ProjectsView__wrapper {
  margin: 30px 0;
  position: relative;
  justify-content: center;

  /* display: grid;
  grid-template-columns: 1fr 2fr; */

  display: flex;
}

.ProjectsView__info-alert {
  max-width: 300px;
  margin: 0 auto;
}
