/* columns container */
.SkillsView__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

/* one column */
.SkillsView__wrapper > div {
  background-color: white;
  margin: 0 20px;
}

.SkillsView__icon-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.SkillsView__misc-paragraph {
  /* background */
  margin: 15px;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.37);
  box-shadow: inset 0 0 3px black;
  background: rgba(128, 128, 128, 0.479);
  border-radius: 5px;

  /* text */
  font-weight: 450;
}

@media only screen and (max-width: 600px) {
  /* 3 columns -> 1 column  */
  .SkillsView__wrapper {
    display: flex;
    flex-direction: column;
  }

  .SkillsView__icon-container {
    background: rgba(249, 249, 249, 0.664);
  }

  .SkillsView__wrapper > div {
    background: none;
  }

  .SkillsView__misc-paragraph {
    background: none;
  }
}
