/* columns container */
.SkillsView__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0 120px;
  grid-gap: 20px;
}

/* one column */
.SkillsView__wrapper > div {
  /* this provides the full width white bg on each column */
  background-color: white;
}

.SkillsView__icon-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.SkillsView__misc-paragraph {
  /* background */
  margin: 15px;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.37);
  box-shadow: inset 0 0 3px black;
  background: rgba(128, 128, 128, 0.479);
  border-radius: 5px;

  /* text */
  font-weight: 450;
}

/* this breakpoint changes grid to 1 column when icons drop down 2 per row */
@media only screen and (max-width: 920px) {
  /* 3 columns -> 1 column  */
  .SkillsView__wrapper {
    display: flex;
    flex-direction: column;
    /* OVERRIDE: Material UI */
    padding: 0 !important;
  }

  .SkillsView__icon-container {
    background: rgba(249, 249, 249, 0.664);
  }

  .SkillsView__wrapper > div {
    background: none;
    margin: 0 10px;
  }

  .SkillsView__misc-paragraph {
    background: none;
  }
}

/* this breakpoint insures 3-4 icons per row */
@media only screen and (max-width: 1500px) {
  /* reduce margin between 3 columns */
  .SkillsView__wrapper {
    padding: 0 20px;
    grid-gap: 20px;
  }
}
