/* columns container */
.SkillsView__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

/* one column */
.SkillsView__wrapper > div {
  background-color: white;
  margin: 0 20px;
}

.SkillsView__icon-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.SkillsView__misc-paragraph {
  /* background */
  margin: 15px;
  padding: 10px;
  box-shadow: inset 0 0 5px black;
  background: rgba(128, 128, 128, 0.479);
  border-radius: 5px;

  /* text */
  font-weight: 450;
}
