.ProjectTree__tree-container {
  min-width: 300px;
  width: 40%;
  box-shadow: 0 0 2px black;
  height: min-content;

  /* OVERRIDE: Material UI */
  margin: 0 auto !important;
  transition: all 1s;
}

.ProjectTree__tree-item {
  text-align: left;
  background: white;

  /* OVERRIDE: Material UI */
  padding: 10px !important;
}

/* Tree font size */
.ProjectTree__tree-item > * > * {
  /* OVERRIDE: Material UI */
  font-size: 20px !important;
}

/* remove current selected background bug */
.MuiTreeItem-label {
  background: white !important;
}
