.ContactView__info-container {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: max-content;
  margin: 0 auto;
}

.ContactView__info-container > * {
  display: flex;
  align-items: center;
}

.ContactView__info-container > *:hover {
  background: white;
}

.ContactView__info-container > * > img {
  height: 50px;
  width: 50px;
}

.ContactView__info-container > * > span {
  padding: 0 10px;
}
