/* add bg color and fill any orange gaps between the 2 accordions */
.MobileAccordions__header {
  position: relative;
  top: -2px;
  --mobile-header-bg-color: var(--grays3);
  background: var(--mobile-header-bg-color);
  box-shadow: 0 0 0 11px var(--mobile-header-bg-color);
}
