.LandingView__main-container {
  height: 100vh;
  width: 100vw;
  background: rgba(255, 255, 255, 0.324);

  /* center button logo */
  display: flex;
  justify-content: center;
  align-items: center;
}

.LandingView__logo {
  /* change var below to change button logo size */
  --logo-side-length: 200px;
  background-color: var(--base-color2);
  height: var(--logo-side-length);
  width: var(--logo-side-length);

  border-radius: 20px;
  box-shadow: 0 0 2px black;
  transition: all 0.4s;
}

.LandingView__logo:hover {
  cursor: pointer;
  box-shadow: 0 0 20px 2px rgba(255, 255, 255, 0.596);
  transform: scale(1.1);
}
