/* ensure .MobileAccordions__header class box shadow does not overlap */
.ContentAccordion__main-container > * {
  z-index: 3;
}

.ContentAccordion__title {
  /* OVERRIDE: Material UI */
  font-size: 1.1em !important;
  font-weight: 600 !important;
  color: rgba(0, 0, 0, 0.753);
  text-align: left;
}

@media only screen and (max-width: 400px) {
  /* BEGIN: make the currently toggled project take up the whole view on mobile */
  .ContentAccordion__expanded-container {
    min-height: 90vh !important;
  }
  /* END: make the currently toggled project take up the whole view on mobile */

  /* add wrapper */
  .ContentAccordion__title {
    width: 95%;
  }
}
