.TechIcon__skill-image {
  height: 70px;
  width: 70px;
  background: white;
}

.TechIcon__skill-image::after {
  content: "Test";
  position: absolute;
  top: 30px;
  height: 100vh;
  width: 30px;
  background: red;
  z-index: 35;
}

/* BEGIN: On hover, display skill label */
.TechIcon__show-on-hover {
  /* vertically center labels */
  display: flex;
  flex-direction: column;
  align-items: center;

  /* brick each icon */
  margin: 5px;
  padding: 5px;

  font-weight: 500;
  color: white;
  transition: all 0.5s;

  /** uncomment below for development **/
  /* background: red; */
}
.TechIcon__show-on-hover:hover {
  color: black;
  transform: scale(1.2);
}
/* END: On hover, display skill label */
