.Nav__main-container {
  width: 100% !important;
  height: var(--nav-height);
  position: fixed;
  bottom: 0;
  z-index: 30;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  box-shadow: 0 0 5px black, 0 0 10px rgba(0, 0, 0, 0.612);
}

.Nav__link {
  cursor: pointer;
  display: block;
  font-weight: bold;

  position: relative;
}

.Nav__link:hover {
  color: black;
}

/* BEGIN: Navbar on hover outer lines animation */
.Nav__link::before,
.Nav__link::after {
  content: "";
  position: absolute;
  left: 0;
  height: 2px;
  width: 100%;
  background: var(--secondary-color2);
  transition: all 0.5s;
  /* on hover, expand this to create illusion */
  transform: scale(0);
  transform-origin: right;
}
.Nav__link::after {
  transform-origin: center;
  bottom: 0;
}

.Nav__link:hover::before,
.Nav__link:hover::after {
  transform: scale(1);
}

/* END: Navbar on hover outer lines animation */

@media only screen and (max-width: 600px) {
  /* show mobile nav */
  .Nav__main-container > .Nav__mobile {
    display: block;
  }
}

@media only screen and (min-width: 601px) {
  /* show desktop nav */
  .Nav__main-container > .Nav__desktop {
    display: block;
  }
}
