.CurrentStatus__main-container {
  background: rgba(255, 255, 255, 0.331);
  box-shadow: 0 0 2px black;
}

.CurrentStatus__list-item {
  margin-left: 15px;
  background: var(--secondary-color);
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 0 3px black;
  transition: all 0.4s;
}

.CurrentStatus__list-item:hover {
  cursor: pointer;
  color: white;
  background: var(--secondary-color2);
  transform: scale(1.2);
}

@media only screen and (max-width: 600px) {
  .MuiAccordionDetails-root {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .CurrentStatus__list-item {
    height: min-content;
    width: max-content;
    margin: 5px 10px;
  }
}
